<h2>Our cats!</h2>


<div class="cards">
  <% @cats.each do |cat| %>
    <div class="card">
      <div class="card-image">
        <%= link_to cat do %>
          <%= image_tag cat.photo.url(:thumb) %>
        <% end %>
      </div>
      <div class="card-header">
        <%= cat.name %>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
      <div class="card-stats">
        <ul>
          <li><%= show_me_the_money cat %><span>Price</span></li>
          <li><%= cat.color %><span>Color</span></li>
          <li><%= cat.gender %><span>Gender</span></li>
        </ul>
      </div>
    </div>
  <% end %>

</div>
