<!DOCTYPE html>
<html>
<head>
  <title>Cats</title>

  <%= javascript_include_tag 'application' %>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

</head>
<body>


  <header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: "logo" do %>
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <% end %>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link">
          <button class="pull-right">Hide All Cats</button>
        </li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

    <article class="type-system-rounded">

      <%= yield %>
    </article>
</body>
</html>
